<div class="min-h-screen bg-gray-50 flex flex-col items-center pt-10 p-4">
  <div class="w-full max-w-2xl text-center">
    <div class="flex items-center justify-center mb-8">
      <%= image_tag '/icon.png' , class: "h-20"%>
      <h1 class="text-4xl md:text-6xl font-bold text-gray-800">
        HelpJuice Search
      </h1>
    </div>

    <p class="text-lg text-gray-600 mb-8">
      Start typing to search for articles in realtime.
    </p>

    <div data-controller="search" data-search-url-value="<%= searches_path %>" class="relative">
      <div class="relative">
        <svg class="absolute left-4 top-1/2 -translate-y-1/2 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>

        <input type="text"
               placeholder="Search for articles on Rails, Stimulus, etc..."
               class="w-full pl-12 pr-4 py-4 text-lg bg-white border border-gray-300 rounded-full shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-150 ease-in-out"
               data-action="input->search#perform"
        data-search-target="input">
      </div>

      <!-- This is where the search results will be rendered -->
      <div data-search-target="results" class="text-left mt-4 absolute w-full bg-white rounded-xl shadow-lg z-10 overflow-hidden">
      </div>
    </div>

    <div class="mt-24">
      <%= link_to "View Analytics Dashboard", analytics_path, class: "px-6 py-3 bg-blue-600 text-white font-semibold rounded-full shadow-md hover:bg-blue-700 transition duration-150 ease-in-out" %>
    </div>
  </div>
</div>
